body {
    font-family: 'Arial', sans-serif;
    background-color: #FAF1E4;
    color: #435334;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #CEDEBD;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #435334;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #435334;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #435334;
    border-radius: 5px;
}

button {
    background-color: #9EB384;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #435334;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #435334;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #9EB384;
    color: #fff;
}

canvas {
    width: 100%;
    height: 200px;
}